body {
	background-color: #FFE6EE !important;
}
.landing-card{
	margin-top: 20px;
}
.landing-card .card-header, .landing-card .card-footer, .btn-primary, .pcoded .pcoded-header[header-theme="theme1"]{
	background-color: #FF0000;
}
.landing-card .card-block .btn-lg{
	margin: 20px;
	color: #ffffff;
	border-radius: 20px;
}
.variety-section{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.variety-section img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.variety-section .variety{
	background-color: #fc8eac;
	color: #FFFFFF;
}
.variety-section .row input{
	background-color: #ffffff;
	padding-left: 5px;
}

.header-navbar .navbar-wrapper .navbar-container .badge {
    right: 1px !important;
    padding: 1px !important;
}