body {
	/* background-color: #fea0b2 !important; */
	color: #000000 !important;
}
.login-content{
	background-image: url("https://www.aaagrowers.co.ke/flowers/assets/images/bg.jpg");
	background-size: 100% 100%;
}
.login-section{
	padding-top: 100px;
	padding-bottom: 100px;
}

.login-section span{
	color: #fc6f8b;
	font-family: "Lucida Handwriting", cursive;
	font-size: 30px; 
}
.login-section H1{
	font-family: Georgia, serif;
	font-weight: bold;
	color: gray;
}
.login-img{
	height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}
.client-home{
	background-image: url("https://www.aaagrowers.co.ke/flowers/assets/images/home-bg-img.jpg");
	background-size: 100% 100%;
}
.client-home a{
	background-color: #fea0b2;
}
.client-home a h4{
	color: #b34f67 !important;
}
.categories{
	background-image: url("https://www.aaagrowers.co.ke/flowers/assets/images/home-bg-img.jpg");
	background-size: 100% 100%;
}

.categories:before {
	filter : blur(10px);
}
.client-category-nav{
	margin-top: 150px;
	margin-bottom: 150px;
	font-family: "Lucida Handwriting", cursive;
	color: #FFFFFF;
	font-size: 30px;
}
.client-home-nav-cards{
	margin-top: 120px;
	margin-bottom: 120px;
}
.client-home-nav-cards .orders{
	padding-bottom: 80px;
}
.category-img{
	width:100%;
	height: 250px;
}
.client-category-nav .col-sm-3{
	padding: 30px;
}
.client-category-nav img{
	border-radius: 20px;
}
.landing-card{
	margin-top: 20px;
}
.landing-card .card-header, .landing-card .card-footer, .btn-primary, .pcoded .pcoded-header[header-theme="theme1"]{
	background-color: #fc8eac;
}
.landing-card .card-block .btn-lg, .login-content .form-material .btn-lg{
	margin: 20px;
	color: #ffffff;
	border-radius: 20px;
}
.variety-section{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.variety-section img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.variety-section .variety{
	background-color: #000000;
	color: #FFFFFF;
	padding-bottom: 10px;
}
.variety-section .variety .specs{
	padding-top: 10px;
}
.variety-section .row input{
	background-color: #ffffff;
	padding-left: 5px;
}
.header-navbar .navbar-wrapper .navbar-container .badge {
    right: 1px !important;
    padding: 1px !important;
}
.btn-order{
	color: #FFFFFF !important;
}
.home-section{
	margin-top: 10px;
	margin-bottom: 10px;
}
.home-section .type{
	margin: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	border:solid 2px #fc8eac;
}